<p id="notice"><%= notice %></p>

<h1>User Triggers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_triggers.each do |user_trigger| %>
      <tr>
        <td><%= link_to 'Show', user_trigger %></td>
        <td><%= link_to 'Edit', edit_user_trigger_path(user_trigger) %></td>
        <td><%= link_to 'Destroy', user_trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Trigger', new_user_trigger_path %>
